<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLAMFSHOP</title>
    <link rel="stylesheet" href="css/normalize.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:ital,wght@0,700;1,400&display=swap');
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
     <header class="header">
            <div class="contenedor header-contenedor">
                <a class="" href="index.html">
                    <h2 class="header--contenedor-a">CLAMF<span class="header--contenedor-b">SHOP</span></h2>
                </a>
                <nav class="navegacion">
                    <a href="Usuarios.html" class="navegacion__enlace">Usuarios</a>
                    <a href="Clientes.html" class="navegacion__enlace">Clientes</a>
                    <a href="Proveedores.html" class="navegacion__enlace">Proovedores</a>
                    <a href="Productos.html" class="navegacion__enlace">Productos</a>
                    <a href="Ventas.html" class="navegacion__enlace">Ventas</a>
                    <a href="Reportes.html" class="navegacion__enlace">Reportes</a>
                </nav>
            </div>
     </header>

     <br>
    <main class="contenedor">

        <section>
            <form action="DATABASE/conexion_modulo.php" class="formulario" method="POST">
                <fieldset>
                    <div class="contenedor-campos">
                        <div class="campo">
                            <label>Cedula </label>
                            <input class="input-text" name="Cedula" type="text" placeholder="Tu Cedula">
                        </div>
                        <div class="campo">
                            <label>Usuario </label>
                            <input class="input-text" name="Usuario" type="tel" placeholder="Tu Usuario">
                        </div>
                        <div class="campo">
                            <label>Nombre Completo</label>
                            <input class="input-text" name="NombreCompleto" type="text" placeholder="Tu Nombre Completo">
                        </div>
                        <div class="campo">
                            <label>Contraseña </label>
                            <input class="input-text" name="Contraseña" type="password" placeholder="Tu Contraseña">
                        </div>
                        <div class="campo">
                            <label>Correo Electronico </label>
                            <input class="input-text" name="CorreoElectronico" type="email" placeholder="Tu Correo">
                        </div>
                        <!-- contenedor campos */-->
                    </div>
                    <div class="alinear-derecha flex">
                        <input class="boton w-sm-100" type="submit" name="Consultar" value="Consultar">
                        <input class="boton w-sm-100" type="submit" name="Crear" value="Crear">
                        <input class="boton w-sm-100" type="submit" name= "Validar" value="Actualizar">
                        <input class="boton w-sm-100" type="submit" name="Borrar" value="Borrar">
                    </div>
                </fieldset>
            </form>
        </section>

    </main>


</body>

<footer class="footer">
    <p>todos los derechos reservados. CLAMFSHOP</p>
</footer>

</html>